@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

:root {
    --game-info-box-items-bg-color: rgba(0, 0, 0, 0.3);
    --game-info-box-items-spacing: 0.5vh;
    --game-info-box-items-line-height: 4vh;
}

game-info-box {
    box-sizing: border-box;
}

game-info-box {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

game-info-box {
    bottom: 8vh;
    left: 8vh;
    display: flex;
    align-items: center;
    font-size: 3vh;
}

game-info-box > * + * {
    margin-left: var(--game-info-box-items-spacing);
}

.robots,
.main-round.active,
.freethrows-round.active,
.game-results.active {
    display: flex;
    flex-direction: column;
}

.robots > * + *,
.main-round.active > * + *,
.freethrows-round.active > * + *,
.game-results.active > * + * {
    margin-top: var(--game-info-box-items-spacing);
}

.robot {
    background-color: var(--game-info-box-items-bg-color);
    display: flex;
    align-items: center;
    gap: 1vh;
    padding: 0 1vh;
}

.robot > * + * {
    margin-left: var(--game-info-box-items-spacing);
}

.robot-name {
    line-height: var(--game-info-box-items-line-height);
}

.robot-fouls {
    opacity: 0;
    width: 1vh;
    height: 1vh;
    border-radius: 100%;
}

.robot-fouls.active {
    opacity: 1;
}

.robot-fouls.first {
    background-color: yellow;
}

.robot-fouls.second {
    background-color: red;
}

.game-rounds {
    display: flex;
}

.main-rounds {
    display: flex;
}
.main-rounds,
.freethrows-round,
.game-results {
    line-height: var(--game-info-box-items-line-height);
    text-align: center;
}

.main-round,
.freethrows-round,
.game-results {
    display: none;
}

.main-round > *,
.freethrows-round > * {
    background-color: var(--game-info-box-items-bg-color);
    padding: 0 1vh;
}

.game-results > * {
    background-color: var(--game-info-box-items-bg-color);
    height: var(--game-info-box-items-line-height);
    width: var(--game-info-box-items-line-height);
}

.main-round.active + .main-round.active,
.freethrows-round.active {
    padding-left: var(--game-info-box-items-spacing);
}

.time {
    display: none;
}

.time.active {
    display: block;
    background-color: var(--game-info-box-items-bg-color);
    font-size: 5vh;
    line-height: calc(2 * var(--game-info-box-items-line-height) + var(--game-info-box-items-spacing));
    width: 9vh;
    text-align: center;
}

.message {
    display: none;
}

.blue-basket,
.magenta-basket {
    color: white;
}

.blue-basket {
    background-color: rgba(30, 144, 255, 0.8);
}

.magenta-basket {
    background-color: rgba(214, 0, 214, 0.8);
}

.lost {
    color: rgba(255, 255, 255, 0.5);
}

.tied {
    color: rgba(255, 255, 255, 0.7);
}