@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}

body {
    color: white;
    overflow: hidden;
}

body > * {
    width: 100vw;
}

game-info-box {
    position: absolute;
    bottom: 8vh;
    left: 8vh;
}
