@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}

body {
    color: white;
    overflow: hidden;
}

body > * {
    width: 100vw;
}

game-info-box {
    position: absolute;
    bottom: 8vh;
    left: 8vh;
}

.break-info {
    position: absolute;
    bottom: 8vh;
    left: 8vh;
    background-color: rgba(0, 0, 0, 0.3);
    height: 5vh;
    /*width: 15vw;*/
    font-size: 4vh;
    line-height: 5vh;
    display: flex;
    justify-content: space-between;
}

.break-info .break-text {
    padding: 0 10px;
}

.break-info game-info-box-counter {
    padding: 0 10px;
}
